/*font-family: 'Acme', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */

body {
  background-color: rgb(255, 255, 255, 0.5);
  font-family: "Montserrat", sans-serif;
}
.nav-head {
  background-color: #fcc38e;
  border-bottom: ridge 2px white;
  box-shadow: 2px 1px 3px rgb(223, 205, 190);
  background-image: url("../images/city.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position: right;
}
nav {
  margin-top: 0px;
}

h1,
h2,
h3 {
  font-family: "Acme", sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
}

li {
  padding-right: 30px;
  margin-bottom: 0;
}
.shop {
  color: #72574f;
}
.shop:hover {
  color: #5c3e35;
}

.btnsColor {
  background-color: #ffffff;
  border-radius: 40px;
  color: #5c3e35;
}

.btnsColor:hover {
  background-color: #f18934;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
  color: white;
}

@media only screen and (min-width: 576px) {
  .nav-link:hover {
    background-color: #fcc38e;
    border-radius: 30px;
  }
}
.img-bg {
  background-image: url("../images/Wood-bg.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  margin: 0;
  padding: 20px;
}

/* .message {
  display: block;
 text-align: center;
 margin: 100px 50px;

} */
