/*font-family: 'Acme', sans-serif; */
body {
  background-color: #ffe4cd;
}
.nav-head {
  background-color: #fcc38e;
  border-bottom: ridge 2px white;
  box-shadow: 2px 1px 3px rgb(235, 209, 204);
}
nav {
  margin-top: 0px;
}

h1,
h2,
h3 {
  font-family: "Acme", sans-serif;
  font-weight: 500;
  font-size: 2.6rem;
}

li {
  padding-right: 30px;
  margin-bottom: 0;
}
.user {
  color: #72574f;
}
.user:hover {
  color: #5c3e35;
}

.btnsColor {
  background-color: #e48b42;
}
